<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <% if (!DEV_MODE) { %>
  <link rel="stylesheet" href="/assets/vendor.css">
  <link rel="stylesheet" href="/assets/abc.css">
  <% } %>
  <script src="/assets/vendor.js"></script>
</head>
<body>
  <div id="mount-point"></div>
  <script src="/assets/abc.js"></script>
</body>
</html>
